*{margin: 0; padding: 0; box-sizing: border-box;
//убрать фигни перед строками li
li{list-style: none;}
//убрать крестик в инпуте explore
input::-ms-clear{display: none;}
bottom::-moz-focus-inner{ padding: 0; border: 0;}}
html,body{ height: 100%;width: 100%;font-size: 14px;-ms-text-size-abjust:100%; -moz-text-size-adjust: none;}
img { vertical-align: top;} h1,h2,h3,h4,h5,h6 { font-weight: inherit;  font-size: inherit;}; a{ text-decoration: none ; color: inherit;}
.wrapper{ overflow: hidden; min-height: 100%;}




.wrapper {
   display: flex;
   
}
.container {
   flex: 1 0 auto;
   margin: auto 0;
}
.imageRemove {
   animation: rotateImg 2.5s linear infinite;
   margin: 0 auto;
   background: rgb(59, 101, 8);
   background-image: url("./img.jpg");
   background-position: center;
   background-size: cover;
   border-radius: 50%;
   width: 100px;
   height: 100px;
}

@keyframes rotateImg { 
   0%{ 
      transform: rotate(0deg);   
   }
   30%{ 
      transform: rotate(108deg);
   }
   60%{ 
      transform: rotate(216deg);
   }
   100%{ 
      transform: rotate(360deg);
   }
}